{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="{% static 'img/figure/inner-page-banner1.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Register</h1>
                    <ul>
                        <li>
                            <a href="{% url 'pages:home' %}">Home</a>
                        </li>
                        <li>Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Login Area Start Here -->
<section class="login-page-wrap padding-top-80 padding-bottom-50">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-8">
                <div class="login-box-layout1">
                    <div class="section-heading heading-dark">
                        <h2 class="item-heading">Register Form</h2>
                    </div>
                    <form class="login-form" method="post" action="{% url 'users:register' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <label class="mb-3">First name</label>
                                <input class="main-input-box" name="first_name" type="text" placeholder="" />
                            </div>
                            <div class="col-md-6">
                                <label class="mb-3">Last name</label>
                                <input class="main-input-box" name="last_name" type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="mb-3">Username</label>
                                <input class="main-input-box" name="username" type="text" placeholder="" />
                            </div>
                            <div class="col-md-6">
                                <label class="mb-3">Email</label>
                                <input class="main-input-box" name="email" type="email" placeholder="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="mb-3">Password</label>
                                <input class="main-input-box" name="password1" type="password" placeholder="" />
                            </div>
                            <div class="col-md-6">
                                <label class="mb-3">Confirm Password</label>
                                <input class="main-input-box" name="password2" type="password" placeholder="" />
                            </div>
                        </div>
                        
                        
                        <div class="btn-area">
                            <button class="btn-fill btn-primary"  type="submit" value="Login">Register<i class="flaticon-next"></i></button>
                            <button class="btn-fill btn-dark" type="submit" value="Login">Login to an Account<i class="flaticon-next"></i></button>
                        </div>
                    </form>
                    <label>Or Connect With Social Networks</label>
                    <div class="login-box-social">
                        <ul>
                            <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#" class="google"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">ABOUT ME</h3>
                    </div>
                    <div class="widget-about">
                        <figure class="author-figure"><img src="{% static 'img/figure/about.jpg' %}" alt="about"></figure>
                        <figure class="author-signature"><img src="{% static 'img/figure/signature.png' %}" alt="about"></figure>
                        <p>Fusce mauris auctor ollicituder teary iner hendrerit risusey aeenean rauctor pibus
                            doloer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Area End Here -->
{% endblock %}


